{% extends 'base.html' %}
{% set active_page = "404" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
    <div class="col-10 mx-auto">
      <h3>404 Page Not Found</h3>
    </div>
</div>
{% endblock %}
