{% extends 'base.html' %}
{% set active_page = "about" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
    <div class="col-10 mx-auto">

      <div class="row my-5">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">About</h5>
              <p class="card-text">ByteSweep: A Free Software IoT Security Analysis Platform</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">bytesweep-web Software License</h5>
              <p class="card-text">
                Web frontend for the ByteSweep platform.<br>
                Copyright (C) 2019 Matt Brown<br><br>

                This program is free software: you can redistribute it and/or modify
                it under the terms of the GNU Affero General Public License (Version 3) as
                published by the Free Software Foundation.<br><br>

                This program is distributed in the hope that it will be useful,
                but WITHOUT ANY WARRANTY; without even the implied warranty of
                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                GNU Affero General Public License for more details.<br><br>

                You should have received a copy of the GNU Affero General Public License
                along with this program.  If not, see <a href="https://www.gnu.org/licenses/">https://www.gnu.org/licenses/</a>.<br>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">bytesweep-worker Software License</h5>
              <p class="card-text">
                Web frontend for the ByteSweep platform.<br>
                Copyright (C) 2019 Matt Brown<br><br>

                This program is free software: you can redistribute it and/or modify
                it under the terms of the GNU General Public License (Version 3) as
                published by the Free Software Foundation.<br><br>

                This program is distributed in the hope that it will be useful,
                but WITHOUT ANY WARRANTY; without even the implied warranty of
                MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                GNU Affero General Public License for more details.<br><br>

                You should have received a copy of the GNU General Public License
                along with this program.  If not, see <a href="https://www.gnu.org/licenses/">https://www.gnu.org/licenses/</a>.<br>
              </p>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
