{% extends 'base.html' %}
{% set active_page = "addartifact" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
  <div class="flexbox-container">
    <div class="col-10 mx-auto">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">Upload Artifact</h3>
        </div>
          <form name="addartifact" method="POST" action="/addartifact" enctype="multipart/form-data">
            <!-- artifactname Field -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Artifact Name</span>
              </div>
              <input name="artifactname" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required="true">
            </div>
            <!-- notes Field -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Notes</span>
              </div>
              <textarea name="notes" class="form-control" aria-label="With textarea"></textarea>
            </div>
            <!-- file Field -->
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" name="file_upload" class="custom-file-input" id="customFile" required="true">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
            </div>
            <!-- submit Button -->
            <div class="input-group mb-3">
              <input name="submit" class="btn btn-primary" type="submit" value="Submit">
            </div>
            {% if error %}
              <div class="alert alert-danger" role="alert">
                {{ error_msg|e }}
              </div>
            {% endif %}
          </form>
      </div> 
    </div>
  </div>
</div>
<script>
// Change file name in input
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% endblock %}
