<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='img/icons/remixicon/System/scan-line.svg') }}">

    <title>{{ project_name }}</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <!-- JQuery -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>

  </head>
  <body style="background-color: #f2f2f2;">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container col-2">
        <a class="navbar-brand mx-auto" href="/">{{ project_name }}</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Top Navbar Left -->
        {% set nav_bar_top_left = [
        ] -%}
        {% set active_page = active_page|default('index') -%}
        <ul class="navbar-nav mr-auto">
          {% for href, id, caption in nav_bar_top_left %}
            <li class="nav-item{% if id == active_page %} active{% endif%}">
              <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
            </li>
          {% endfor %}
        </ul>
        <!-- Top Navbar Right -->
        {% set nav_bar_top_right = [
          ('/about', 'about', 'About'),
          ('/logout', 'logout', 'Sign Out')
        ] -%}
        {% set active_page = active_page|default('index') -%}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/admin/landing">Admin</a>
            </li>
          {% for href, id, caption in nav_bar_top_right %}
            <li class="nav-item{% if id == active_page %} active{% endif%}">
              <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <!-- Side Navbar Main -->
            {% set nav_bar_side_main = [
              ('/admin/landing', 'admin-landing', 'Admin Overview', 'img/icons/remixicon/User/account-box-fill.svg'),
              ('/admin/users', 'admin-users', 'Users', 'img/icons/remixicon/User/user-fill.svg'),
              ('/admin/groups', 'admin-groups', 'Groups', 'img/icons/remixicon/User/group-fill.svg'),
              ('/', 'landing', 'Back to Analysis', 'img/icons/remixicon/System/arrow-go-back-fill.svg')
            ] -%}
            {% set active_page = active_page|default('index') -%}
            <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-1 mb-4 text-muted">
              <span>Current Artifact: {{ job_name|default('No File Selected')|e }}</span>
              <a class="d-flex align-items-center text-muted" href="#"></a>
            </h6> -->
            <ul class="nav flex-column">
              {% for href, id, caption, imagesrc in nav_bar_side_main %}
                <li class="nav-item">
                  <a class="nav-link{% if id == active_page %} active{% endif%}" href="{{ href|e }}"><img style="height: 25px" class="mr-2" src="{{ url_for('static', filename=imagesrc) }}">{{ caption|e }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </nav>
        <!-- Main Page Section -->
        <main role="main" class="mainpage col-md-9 ml-sm-auto col-lg-10 px-2 py-2" style="background-color: #f2f2f2;">
          {% block mainpage %}{% endblock %}
        </main>
      </div>
    </div>
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip(options)
      })
    </script>
  </body>
</html>

