{% extends 'admin-base.html' %}
{% set active_page = "admin-groups" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
    <div class="col-10 mx-auto">

{% if error %}
  <p>ERROR!</p>
{% else %}

      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h4 class="border-bottom border-gray pb-2 mb-0">Groups</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Group Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for group in groups %}
            <tr>
              <td>{{ group["groupname"]|e }}</td>
              <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal{{ loop.index|e }}">Delete Group</button></td>
        
        <!-- Modal -->
        <div class="modal fade" id="modal{{ loop.index|e }}" tabindex="-1" role="dialog" aria-labelledby="modallabel{{ loop.index|e }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modallabel{{ loop.index|e }}">Delete Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Delete Group: <b>{{ group["groupname"]|e }}</b> ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="/admin/deletegroup" method="POST">
                  <input name="group_id" value="{{ group["group_id"]|e }}" type="hidden" class="btn btn-danger">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>


      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h4 class="border-bottom border-gray pb-2 mb-2">Create Group</h4>
        <form name="addgroup" method="POST" action="/admin/addgroup">
          <div class="form-group">
            <label for="groupname">Group Name</label>
            <input name="groupname" type="text" class="form-control" id="groupname" aria-describedby="groupname" placeholder="">
          </div>

          <button type="submit" class="btn btn-primary">Create Group</button>
        </form>
      </div>

{% endif%}

    </div>
</div>
{% endblock %}
