{% extends 'admin-base.html' %}
{% set active_page = "admin-landing" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
    <div class="col-10 mx-auto">

      <div class="row my-5">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Manage Users</h5>
              <p class="card-text">Add/Delete/Modify Users</p>
              <a href="/admin/users" class="btn btn-primary">Manage Users</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Manage Groups</h5>
              <p class="card-text">Add/Delete Groups</p>
              <a href="/admin/groups" class="btn btn-primary">Manage Groups</a>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
{% endblock %}
