{% extends 'admin-base.html' %}
{% set active_page = "admin-users" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
    <div class="col-10 mx-auto">

{% if error %}
  <p>ERROR!</p>
{% else %}

      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h4 class="border-bottom border-gray pb-2 mb-0">Users</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Siteadmin</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ user["username"]|e }}</td>
              <td>{{ user["siteadmin"]|e }}</td>
              <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal{{ loop.index|e }}">Delete User</button></td>
        
        <!-- Modal -->
        <div class="modal fade" id="modal{{ loop.index|e }}" tabindex="-1" role="dialog" aria-labelledby="modallabel{{ loop.index|e }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modallabel{{ loop.index|e }}">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Delete User: <b>{{ user["username"]|e }}</b> ?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="/admin/deleteuser" method="post">
                  <input name="user_id" value="{{ user["user_id"]|e }}" type="hidden" class="btn btn-danger">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>


      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h4 class="border-bottom border-gray pb-2 mb-2">Create User</h4>
        <form name="adduser" method="POST" action="/admin/adduser">
          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input name="username" type="text" class="form-control" id="username" aria-describedby="username" placeholder="">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="">
          </div>
          <div class="form-group form-check">
            <input name="siteadmin" type="checkbox" class="form-check-input" id="admin">
            <label class="form-check-label" for="admin">Site Admin</label>
          </div>

          <h6>Groups</h6>
          <div class="table-wrapper-scroll-y my-custom-scrollbar mb-3">
            <table class="table table-bordered table-striped mb-0">
              <tbody>
                {% for group in groups %}
                <tr>
                  <td>
                    <div class="form-check mb-2">
                      <input name="group_ids" class="form-check-input" type="checkbox" value="{{ group["group_id"]|e }}" id="defaultCheck1">
                      <label class="form-check-label" for="defaultCheck1">{{group["groupname"]|e}}</label>
                    </div>
                    <label class="mr-2">Group Permissions</label>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="group_{{ group["group_id"]|e }}_perms" id="group_{{ group["group_id"]|e }}_perms" value="read">
                      <label class="form-check-label" for="inlineRadio1">Read</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="group_{{ group["group_id"]|e }}_perms" id="group_{{ group["group_id"]|e }}_perms" value="write">
                      <label class="form-check-label" for="inlineRadio2">Write</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="group_{{ group["group_id"]|e }}_perms" id="group_{{ group["group_id"]|e }}_perms" value="admin">
                      <label class="form-check-label" for="inlineRadio2">Admin</label>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <button type="submit" class="btn btn-primary">Create User</button>
        </form>
      </div>

{% endif%}

    </div>
</div>
{% endblock %}
