{% extends 'base.html' %}
{% set active_page = "analysis-functions" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
    <div class="col-10 mx-auto">

{% if error %}
  <div class="alert alert-danger" role="alert">An Error has occured</div>
{% else %}
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">High-Risk Binaries</h6>
  {% if job["job_status"] == "queued" %}
              <div class="alert alert-danger" role="alert">Analysis job is in the queue, check back later.</div>
  {% elif job["job_status"] == "processing" %}
              <div class="alert alert-danger" role="alert">Analysis job is being processed, check back later.</div>
  {% else %}

<table class="table table-hover">
    <tbody>
    {% if not filedata %}
    <div class="alert alert-dark" role="alert">
      No High-Risk Binaries Found.
    </div>
    {% endif %}
    {% for f in filedata %}
      {% if f["isfile"] and not f["islink"]%}
        {% if f["unsafe_functions"]|length > 0 %}
        <tr data-toggle="collapse" data-target="#accordion{{ loop.index|e }}" class="clickable collapse-row collapsed">
          <td>{{ f["relpath"]|e }}</td>
        </tr>
        <tr style="background-color: #d7d7d7">
          <td colspan="3">
              <div id="accordion{{ loop.index|e }}" class="collapse">
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">File Link</th>
                      <td><a class="" style="color:#000000 !important;" href="/analysis/files/file?fid={{f['fid']}}">{{ f['relpath']|e }}</a></td>
                    </tr>
                    <tr>
                  </tbody>
                </table>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Function Name</th>
                      <th scope="col">Binary Offset</th>
                      <th scope="col">Xref Function</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for function in f["unsafe_functions"] %}
                    <tr>
                      <td>{{ function["fcn_name"]|e }}</td>
                      <td>{{ function["xref_address"]|e }}</td>
                      <td>{{ function["parent_fcn"]|e }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          </td>
        </tr>
        {% endif%}
      {% endif%}
    {% endfor %}
    </tbody>
</table>
  {% endif%}
{% endif%}
    </div>
</div>
{% endblock %}
