{% extends 'base.html' %}
{% set active_page = "analysis-watchdog" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
    <div class="col-10 mx-auto">

{% if error %}
  <div class="alert alert-danger" role="alert">An Error has occured</div>
{% else %}
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">3rd Party Component CVEs</h6>
  {% if job["job_status"] == "queued" %}
              <div class="alert alert-danger" role="alert">Analysis job is in the queue, check back later.</div>
  {% elif job["job_status"] == "processing" %}
              <div class="alert alert-danger" role="alert">Analysis job is being processed, check back later.</div>
  {% else %}

<table class="table table-hover">
    <tbody>
    {% if not cves %}
    <div class="alert alert-dark" role="alert">
      No 3rd Party Component CVEs Found.
    </div>
    {% endif %}
    {% for cve in cves %}
      {% if "baseMetricV3" in cve["cve"]["impact"] %}
        {% set severity = cve["cve"]["impact"]["baseMetricV3"]["cvssV3"]["baseSeverity"] %}
      {% elif "baseMetricV2" in cve["cve"]["impact"] %}
        {% set severity = cve["cve"]["impact"]["baseMetricV2"]["severity"] %}
      {% endif %}
      <tr data-toggle="collapse" data-target="#accordion{{ loop.index|e }}" class="clickable collapse-row collapsed">


          <td{% if severity == "CRITICAL" %} class="table-danger"{% elif severity == "HIGH" %} class="table-warning"{% elif severity == "MEDIUM" %} class="table-info"{% elif severity == "LOW" %} class="table-success"{% endif %}>{{ cve["cve"]["cve"]["CVE_data_meta"]["ID"]|e }}</td>
          <td{% if severity == "CRITICAL" %} class="table-danger"{% elif severity == "HIGH" %} class="table-warning"{% elif severity == "MEDIUM" %} class="table-info"{% elif severity == "LOW" %} class="table-success"{% endif %}>{{ severity|e }}</td>



        <!-- <td><b>{{ cve["cve_id"]|e }}</b>  CVE: {{ cve["cve_id"]|e }}</td> -->
      </tr>
      <tr style="background-color: #d7d7d7">
        <td colspan="3">
            <div id="accordion{{ loop.index|e }}" class="collapse">
              <table class="table">
              <thead>
                  <tr>
                    <th scope="col">Component</th>
                    <th scope="col">Version</th>
                    <th scope="col">Source File</th>
                    <th scope="col">File Offset</th>
                  </tr>
                </thead>
                <tbody>
                  {% for string in cve["stringdata"] %}
                  <tr>
                    <td>{{string["regex_name"]}}</td>
                    <td>{{string["match"]}}</td>
                    <td><a class="" style="color:#000000 !important;" href="/analysis/files/file?fid={{string['fid']}}">{{string["relpath"]}}</a></td>
                    <td>{{string["offset"]}}</td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <th scope="row">Vulnerability Description</th>
                    {% for description_data in cve["cve"]["cve"]["description"]["description_data"] %}
                      {% if description_data["lang"] == "en" %}
                    <td colspan="3">{{ description_data["value"]|e }}</td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
            </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
  {% endif %}
{% endif%}
    </div>
</div>
{% endblock %}
