{% extends 'base.html' %}
{% set active_page = "analysis-overview" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
    <div class="col-10 mx-auto">

{% if error %}
  <p>ERROR!</p>
{% else %}
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Analysis Overview</h6>
        <div class="media text-muted pt-3 mb-4">
          <table class="table-sm table-borderless">
            <tbody>
              <tr>
                <th scope="row">Artifact Name</th>
                <td>{{ job["job_name"]|e }}</td>
              </tr>
              <tr>
                <th scope="row">Notes</th>
                <td>{{ job["job_notes"]|e }}</td>
              </tr>
              <tr>
                <th scope="row">File Name</th>
                {% if job["job_status"] == "done" %}
                <td><a class="" style="color:#000000 !important;" href="/analysis/files/file?fid=1">{{ job["job_filename"]|e }}</a></td>
                {% else %}
                <td>{{ job["job_filename"]|e }}</td>
                {% endif %}
              </tr>
            </tbody>
          </table>
        </div>
        <h6 class="border-bottom border-gray pb-2 mb-0">Analysis Status</h6>
        <div class="media text-muted pt-6 pb-6">
          <div class="media-body pb-3 mb-0 small lh-125">
            <div class="progress" style="height: 25px">
  {% if job["job_status"] == "queued" %}
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">Queued</div>
  {% elif job["job_status"] == "processing" %}
              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">Processing</div>
  {% else %}
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Done</div>
  {% endif%}
            </div>
          </div>
        </div>
      </div>
        {% if job["job_status"] == "done" %}
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
              <div class="row">
                <div class="col-md-4 my-2">
                  <img src="{{ url_for('static', filename='img/icons/remixicon/Document/folder-2-line.svg') }}" class="w-100 ml-3">
                </div>
                <div class="col-md-8 px-3 mt-3 mb-2">
                  <div class="card-block px-3">
                    <h2 class="card-title text-right">{{stats["files"]|e}}</h2>
                    <p class="text-right">Extracted Files</p>
                  </div>
                </div>
              </div>
                <div class="card-footer text-muted"><a href="/analysis/files/dir?fid=0">View Files</a></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
              <div class="row">
                <div class="col-md-4 my-2">
                  <img src="{{ url_for('static', filename='img/icons/remixicon/Life/key-2-line.svg') }}" class="w-100 ml-3">
                </div>
                <div class="col-md-8 px-3 mt-3 mb-2">
                  <div class="card-block px-3">
                    <h2 class="card-title text-right">{{stats["keys"]|e}}</h2>
                    <p class="text-right">Encryption Keys</p>
                  </div>
                </div>
              </div>
                <div class="card-footer text-muted"><a href="/analysis/keys">View Keys</a></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
              <div class="row">
                <div class="col-md-4 my-2">
                  <img src="{{ url_for('static', filename='img/icons/remixicon/System/lock-password-line.svg') }}" class="w-100 ml-3">
                </div>
                <div class="col-md-8 px-3 mt-3 mb-2">
                  <div class="card-block px-3">
                    <h2 class="card-title text-right">{{stats["passwords"]|e}}</h2>
                    <p class="text-right">Password Hashes</p>
                  </div>
                </div>
              </div>
                <div class="card-footer text-muted"><a href="/analysis/passwords">View Hashes</a></div>
            </div>
          </div>



        <!--
        </div>
        <div class="row mb-3"> -->
          <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
              <div class="row">
                <div class="col-md-4 my-2">
                  <img src="{{ url_for('static', filename='img/icons/remixicon/Development/bug-2-line.svg') }}" class="w-100 ml-3">
                </div>
                <div class="col-md-8 px-3 mt-3 mb-2">
                  <div class="card-block px-3">
                    <h2 class="card-title text-right">{{stats["binaries"]|e}}</h2>
                    <p class="text-right">High-Risk Binaries</p>
                  </div>
                </div>
              </div>
                <div class="card-footer text-muted"><a href="/analysis/functions">View Binaries</a></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
              <div class="row">
                <div class="col-md-4 my-2">
                  <img src="{{ url_for('static', filename='img/icons/remixicon/System/function-line.svg') }}" class="w-100 ml-3">
                </div>
                <div class="col-md-8 px-3 mt-3 mb-2">
                  <div class="card-block px-3">
                    <h2 class="card-title text-right">{{stats["components"]|e}}</h2>
                    <p class="text-right">3rd Party Components</p>
                  </div>
                </div>
              </div>
                <div class="card-footer text-muted"><a href="/analysis/3pcomponents">View Components</a></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-3">
            <div class="card">
              <div class="row">
                <div class="col-md-4 my-2">
                  <img src="{{ url_for('static', filename='img/icons/remixicon/System/eye-line.svg') }}" class="w-100 ml-3">
                </div>
                <div class="col-md-8 px-3 mt-3 mb-2">
                  <div class="card-block px-3">
                    <h2 class="card-title text-right">{{stats["cves"]|e}}</h2>
                    <p class="text-right">CVEs</p>
                  </div>
                </div>
              </div>
                <div class="card-footer text-muted"><a href="/analysis/watchdog">View CVEs</a></div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Analysis Time</h5>
                <table class="table table-borderless table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Analysis Step</th>
                      <th scope="col">Time (Seconds)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>File Extraction and Enrichment</td>
                      <td>{{ job["extraction_time"]|e }}</td>
                    </tr>
                    <tr>
                      <td>Unsafe Library Analysis</td>
                      <td>{{ job["unsafe_libs_time"]|e }}</td>
                    </tr>
                    <tr>
                      <td>String Analysis</td>
                      <td>{{ job["string_analysis_time"]|e }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        {% endif%}
{% endif%}
    </div>
</div>
{% endblock %}
