{% extends 'base.html' %}
{% set active_page = "analysis-keys" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
    <div class="col-10 mx-auto">

{% if error %}
  <div class="alert alert-danger" role="alert">An Error has occured</div>
{% else %}
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">Keys</h6>
  {% if job["job_status"] == "queued" %}
              <div class="alert alert-danger" role="alert">Analysis job is in the queue, check back later.</div>
  {% elif job["job_status"] == "processing" %}
              <div class="alert alert-danger" role="alert">Analysis job is being processed, check back later.</div>
  {% else %}

<table class="table table-hover">
    <tbody>
    {% if not keys %}
    <div class="alert alert-dark" role="alert">
      No Keys Found.
    </div>
    {% endif %}
    {% for k in keys %}
      <tr data-toggle="collapse" data-target="#accordion{{ loop.index|e }}" class="clickable collapse-row collapsed">
        <td>{{ k[0]["regex_description"]|e }}</td>
      </tr>
      <tr style="background-color: #d7d7d7">
        <td colspan="3">
            <div id="accordion{{ loop.index|e }}" class="collapse">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Key</th>
                    <td><pre>{{ k[0]["match"]|e }}<pre></td>
                  </tr>
                </tbody>
              </table>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Source File</th>
                    <th scope="col">Offset</th>
                  </tr>
                </thead>
                <tbody>
                  {% for s in k %}
                  <tr>
                    <td><a class="" style="color:#000000 !important;" href="/analysis/files/file?fid={{s['fid']}}">{{ s["relpath"]|e }}</a></td>
                    <td>{{ s["offset"]|e }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <a href="/download/string?match_id={{ k[0]["match_id"]|e }}" class="btn btn-primary" role="button">Download Key</a>
            </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
  {% endif%}
{% endif%}
    </div>
</div>
{% endblock %}
