{% extends 'base.html' %}
{% set active_page = "analysis-3pcomponents" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
    <div class="col-10 mx-auto">

{% if error %}
  <div class="alert alert-danger" role="alert">An Error has occured</div>
{% else %}
      <div class="my-3 p-3 bg-white rounded shadow-sm">
        <h6 class="border-bottom border-gray pb-2 mb-0">3rd Party Components</h6>
  {% if job["job_status"] == "queued" %}
              <div class="alert alert-danger" role="alert">Analysis job is in the queue, check back later.</div>
  {% elif job["job_status"] == "processing" %}
              <div class="alert alert-danger" role="alert">Analysis job is being processed, check back later.</div>
  {% else %}

<table class="table table-hover">
    <tbody>
    {% if not components %}
    <div class="alert alert-dark" role="alert">
      No 3rd Party Components Found.
    </div>
    {% endif %}
    {% for c in components %}
      <tr data-toggle="collapse" data-target="#accordion{{ loop.index|e }}" class="clickable collapse-row collapsed">
        <td><b>{{ c[0]["regex_name"]|e }}</b>  version: {{ c[0]["match"]|e }}</td>
      </tr>
      <tr style="background-color: #d7d7d7">
        <td colspan="3">
            <div id="accordion{{ loop.index|e }}" class="collapse">
              <table class="table">
              <thead>
                  <tr>
                    <th scope="col">Match Rule</th>
                    <th scope="col">Source File</th>
                    <th scope="col">Raw Source String</th>
                    <th scope="col">File Offset</th>
                  </tr>
                </thead>
                <tbody>
                  {% for s in c %}
                  <tr>
                    <td>{{ s["regex_name"]|e }}</td>
                    <td><a class="" style="color:#000000 !important;" href="/analysis/files/file?fid={{s['fid']}}">{{ s["relpath"]|e }}</a></td>
                    <td>{{ s["string"]|e }}</td>
                    <td>{{ s["offset"]|e }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
  {% endif %}
{% endif%}
    </div>
</div>
{% endblock %}
