{% extends 'base.html' %}
{% set active_page = "analysis-files-file" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
    <div class="col-10 mx-auto">

{% if error %}
  <div class="alert alert-danger" role="alert">An Error has occured</div>
{% else %}
  {% if job["job_status"] == "queued" %}
              <div class="alert alert-danger" role="alert">Analysis job is in the queue, check back later.</div>
  {% elif job["job_status"] == "processing" %}
              <div class="alert alert-danger" role="alert">Analysis job is being processed, check back later.</div>
  {% else %}



  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% for b in branch_path %}
        {% if b['leaf'] %}
        <li class="breadcrumb-item active" aria-current="page">{{ b['name']|e }}</li>
        {% else %}
        <li class="breadcrumb-item active"><a href="/analysis/files/dir?fid={{ b['fid']|e }}">{{ b['name']|e }}</a></li>
        {% endif %}
        {% endfor %}
      </ol>
    </nav>
                <h6 class="pb-2 mb-0">File</h6>
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">Filename</th>
                      <td>{{ node['node']['name']|e }}</td>
                    </tr>
                    <tr>
                      {% if node['node']['size'] < 1024 %}
                        {% set filesize = "%d"|format(node['node']['size']) %}
                      {% elif node['node']['size'] < 1048576 %}
                        {% set filesize = "%.1f KiB"|format(node['node']['size'] / 1024.0|float) %}
                      {% elif node['node']['size'] < 1073741824 %}
                        {% set filesize = "%.1f MiB"|format(node['node']['size'] / 1048576.0|float) %}
                      {% else %}
                        {% set filesize = "%.1f GiB"|format(node['node']['size'] / 1073741824.0|float) %}
                      {% endif %}
                      <th scope="row">Filesize</th>
                      <td>{{ filesize|e }}</td>
                    </tr>
                  </tbody>
                </table>

                <h6 class="pb-2 mb-0">Magic</h6>
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">MIME Type</th>
                      <td>{{ node['node']['magic']['mime_type']|e }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Full Magic</th>
                      <td>{{ node['node']['magic']['fulltext']|e }}</td>
                    </tr>
                  </tbody>
                </table>
                <h6 class="pb-2 mb-0">Hashes</h6>
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">SHA256</th>
                      <td>{{ node['node']['hash']['sha256']|e }}</td>
                    </tr>
                  </tbody>
                </table>
                <h6 class="pb-2 mb-0">Mathematical Byte Analysis</h6>
                <table class="table">
                  <tbody>
                    <tr{% if node['node']['byte-analysis']['entropy'] > 0.95 %} class="table-warning"{% endif %}>
                      <th scope="row">Shannon Entropy</th>
                      <td>{{ node['node']['byte-analysis']['entropy']|e }}</td>
                      {% if node['node']['byte-analysis']['entropy'] > 0.95 %}
                      <td>File Likely Encrypted or Compressed</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th scope="row">Index of Coincidence</th>
                      <td>{{ node['node']['byte-analysis']['ioc']|e }}</td>
                    </tr>
                  </tbody>
                </table>
                <a href="/download/file?fid={{ node['node']['fid']|e }}" class="btn btn-primary" role="button">Download File</a>

  </div>
  {% endif%}
{% endif%}
    </div>
</div>
{% endblock %}
