{% extends 'base.html' %}
{% set active_page = "analysis-files-dir" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
    <div class="col-10 mx-auto">

{% if error %}
  <div class="alert alert-danger" role="alert">An Error has occured</div>
{% else %}
  {% if job["job_status"] == "queued" %}
              <div class="alert alert-danger" role="alert">Analysis job is in the queue, check back later.</div>
  {% elif job["job_status"] == "processing" %}
              <div class="alert alert-danger" role="alert">Analysis job is being processed, check back later.</div>
  {% else %}



  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {% for b in branch_path %}
        {% if b['leaf'] %}
        <li class="breadcrumb-item active" aria-current="page">{{ b['name']|e }}</li>
        {% else %}
        <li class="breadcrumb-item active"><a href="/analysis/files/dir?fid={{ b['fid']|e }}">{{ b['name']|e }}</a></li>
        {% endif %}
        {% endfor %}
      </ol>
    </nav>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Filename</th>
          <th scope="col">MIME Type</th>
          <th scope="col">Size</th>
        </tr>
      </thead>
      <tbody>
        {% for f in node['files'] %}
        <tr>
          {% if f['type'] == 'link' %}
          <td><a class="" style="color:#000000 !important;"><img style="height: 25px" class="mr-2" src="{{ url_for('static', filename='img/icons/remixicon/Editor/link.svg') }}">{{ f['node']['name']|e }} --> {{ f['node']['link_dst']|e }}</a></td>
          <td></td>
          <td></td>
          {% else %}
          <td><a class="" style="color:#000000 !important;" href="/analysis/files/file?fid={{f['node']['fid']}}"><img style="height: 25px" class="mr-2" src="{{ url_for('static', filename='img/icons/remixicon/Document/file-line.svg') }}">{{ f['node']['name']|e }}</a></td>
          <td>{{ f["node"]["magic"]["mime_type"]|e }}</td>
          {% if f['node']['size'] < 1024 %}
            {% set filesize = "%d"|format(f['node']['size']) %}
          {% elif f['node']['size'] < 1048576 %}
            {% set filesize = "%.1f KiB"|format(f['node']['size'] / 1024.0|float) %}
          {% elif f['node']['size'] < 1073741824 %}
            {% set filesize = "%.1f MiB"|format(f['node']['size'] / 1048576.0|float) %}
          {% else %}
            {% set filesize = "%.1f GiB"|format(f['node']['size'] / 1073741824.0|float) %}
          {% endif %}
          <td>{{ filesize|e }}</td>
          {% endif %}
        </tr>
        {% endfor %}
        {% for d in node['dirs'] %}
        <tr>
          <td><a class="" style="color:#000000 !important;" href="/analysis/files/dir?fid={{ d['node']['fid']}}"><img style="height: 25px" class="mr-2" src="{{ url_for('static', filename='img/icons/remixicon/Document/folder-2-line.svg') }}">{{ d['node']['name']|e }}</a></td>
          <td></td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  {% endif%}
{% endif%}
    </div>
</div>
{% endblock %}
