<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='img/icons/remixicon/System/scan-line.svg') }}">

    <title>{{ project_name }}</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <!-- JQuery -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>

  </head>
  <body style="background-color: #f2f2f2;">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container col-2">
        <a class="navbar-brand mx-auto" href="/">{{ project_name }}</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- Top Navbar Left -->
        {% set nav_bar_top_left = [
          ('/listartifacts', 'listartifacts', 'List Artifacts'),
          ('/addartifact', 'addartifact', 'Add Artifact')
        ] -%}
        {% set active_page = active_page|default('index') -%}
        <ul class="navbar-nav mr-auto">
          {% for href, id, caption in nav_bar_top_left %}
            <li class="nav-item{% if id == active_page %} active{% endif%}">
              <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
            </li>
          {% endfor %}
        </ul>
        <!-- Top Navbar Right -->
        {% set nav_bar_top_right = [
          ('/admin/landing', 'admin', 'Admin'),
          ('/about', 'about', 'About'),
          ('/logout', 'logout', 'Sign Out')
        ] -%}
        {% set active_page = active_page|default('index') -%}
        <ul class="navbar-nav ml-auto">
          {% for href, id, caption in nav_bar_top_right %}
            {% if id != "admin" or admin %}
            <li class="nav-item{% if id == active_page %} active{% endif%}">
              <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <!-- Side Navbar Main -->
            {% set nav_bar_side_main = [
              ('/analysis/overview', 'analysis-overview', 'Analysis Overview', 'img/icons/remixicon/System/dashboard-fill.svg'),
              ('/analysis/files/dir?fid=0', 'analysis-files', 'Files', 'img/icons/remixicon/Document/folder-2-fill.svg'),
              ('/analysis/keys', 'analysis-keys', 'Keys', 'img/icons/remixicon/Life/key-2-fill.svg'),
              ('/analysis/passwords', 'analysis-passwords', 'Passwords', 'img/icons/remixicon/System/lock-password-fill.svg'),
              ('/analysis/functions', 'analysis-functions', 'High-Risk Binaries', 'img/icons/remixicon/Development/bug-2-fill.svg'),
              ('/analysis/3pcomponents', 'analysis-3pcomponents', '3rd Party Components', 'img/icons/remixicon/System/function-fill.svg'),
              ('/analysis/watchdog', 'analysis-watchdog', 'Watchdog', 'img/icons/remixicon/System/eye-fill.svg')
            ] -%}
            {% set active_page = active_page|default('index') -%}
            <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-1 mb-4 text-muted">
              <span>Current Artifact: {{ job_name|default('No File Selected')|e }}</span>
              <a class="d-flex align-items-center text-muted" href="#"></a>
            </h6> -->
            <ul class="nav flex-column">
              {% for href, id, caption, imagesrc in nav_bar_side_main %}
                {% if loop.index == 1 %}
                <li class="nav-item" style="background-color: #c9c9c9;">
                  <a class="nav-link disabled"><b>{{ job_name|default('No Artifact Selected')|e }}</b></a>
                </li>
                {% endif %}
                <li class="nav-item"{% if active_page.startswith(id) %} style="border-left: 6px solid #007bff; background-color: #e6e6e6;"{% endif%}>
                  <a class="nav-link{% if active_page.startswith(id) %} active{% endif%}" href="{{ href|e }}"><img style="height: 25px" class="mr-2" src="{{ url_for('static', filename=imagesrc) }}">{{ caption|e }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </nav>
        <!-- Main Page Section -->
        <main role="main" class="mainpage col-md-9 ml-sm-auto col-lg-10 px-2 py-2" style="background-color: #f2f2f2;">
          {% block mainpage %}{% endblock %}
        </main>
      </div>
    </div>
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script>
      $('.popover-dismiss').popover({
        trigger: 'focus'
      })
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>
  </body>
</html>

