{% extends 'base.html' %}
{% set active_page = "landing" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
    <div class="col-10 mx-auto">

      <div class="row my-5">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">List Artifacts</h5>
              <p class="card-text">View Artifacts from past analysis jobs.</p>
              <a href="/listartifacts" class="btn btn-primary">List Artifacts</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add Artifact</h5>
              <p class="card-text">Upload new Artifacts for analysis.</p>
              <a href="/addartifact" class="btn btn-primary">Add Artifact</a>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>
{% endblock %}
