{% extends 'base.html' %}
{% set active_page = "listartifacts" %}

{% block mainpage %}
<div class="fluid-container" id="loginScreen">
    <div class="col-10 mx-auto">


<table class="table">
  <thead>
    <tr>
      <th scope="col">Artifact Name</th>
      <th scope="col">Notes</th>
      <th scope="col">File Name</th>
      <th scope="col">Analysis Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
    <tr>
      <td><a href="/analysis/overview?id={{ job["job_id"]|e }}">{{ job["job_name"]|e }}</a></td>
      <td>{{ job["job_notes"]|e }}</td>
      <td>{{ job["job_filename"]|e }}</td>
      <td>{{ job["job_status"]|e }}</td>
      <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal{{ loop.index|e }}">Delete</button></td>

<!-- Modal -->
<div class="modal fade" id="modal{{ loop.index|e }}" tabindex="-1" role="dialog" aria-labelledby="modallabel{{ loop.index|e }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modallabel{{ loop.index|e }}">Delete Artifact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Delete Artifact: <b>{{ job["job_name"]|e }}</b> ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="/deleteartifact" method="post">
          <input name="id" value="{{ job["job_id"]|e }}" type="hidden" class="btn btn-danger">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>



    </tr>
    {% endfor %}
  </tbody>
</table>


    </div>
</div>
{% endblock %}
