<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='img/icons/remixicon/System/scan-line.svg') }}">

    <title>{{ project_name }}</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
    <!-- JQuery -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->

  </head>
  <body class="text-center" style="background-color: #f2f2f2;">


    <form class="form-signin" form action="/login" method="POST">
      <img class="mb-4" src="{{ url_for('static', filename='img/icons/remixicon/System/scan-line.svg') }}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">ByteSweep Login</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <button name="submit" class="btn btn-lg btn-primary btn-block mb-4" type="submit">Login</button>
    {% if error %}
	<div class="alert alert-danger" role="alert">
      {{ error|e }}
    </div>
    {% endif %}
    </form>


  </body>
</html>

